html, body {
    height: 100%;
}
.bookTable {
    width: 100%;
}

.bookTableHeading {
    border-bottom: solid black 1px;
}

.AddBookInput {
    border: 1px solid gray;
    border-radius:5px;
}

.reviewTextBox {
    height:100px;
    width:400px;
}
.AddBookReviewForm div {
    margin-bottom: 15px;
    min-height: 5px;
}

.submitBtn {
    background-color: limegreen;
}
.btn {
    margin-right: 5px;
}
